# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [34]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [35]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [36]:
spaceship.shape

(8693, 14)

**Check for data types**

In [37]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

**Check for missing values**

In [38]:
spaceship.isnull().values.any()

True

In [39]:
spaceship.isnull().values.sum()

2324

In [40]:
rows_with_nulls = spaceship[spaceship.isnull().any(axis=1)]

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [48]:
spaceship.dropna(inplace = True)

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [49]:
features = spaceship.select_dtypes(include=['number'])
features

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[6606 rows x 6 columns]

And also lets define our target.

In [50]:
target = spaceship["Transported"]

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [51]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [52]:
X_train

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
3432  32.0          0.0        0.0           0.0     0.0     0.0
7312   4.0          0.0        0.0           0.0     0.0     0.0
2042  30.0          0.0      236.0           0.0  1149.0     0.0
4999  17.0         13.0        0.0         565.0   367.0     1.0
5755  26.0          0.0        0.0           0.0     0.0     0.0
...    ...          ...        ...           ...     ...     ...
6518  53.0          0.0        0.0           0.0     0.0     0.0
4317  36.0          0.0        0.0           0.0   725.0     2.0
2214  36.0          0.0     4756.0           0.0  7818.0    96.0
3468  34.0          0.0        4.0           0.0   685.0  1779.0
3642  14.0          2.0      881.0           0.0   578.0   214.0

[5284 rows x 6 columns]

In [53]:
y_train

3432    False
7312     True
2042    False
4999    False
5755     True
        ...
6518    False
4317    False
2214    False
3468    False
3642    False
Name: Transported, Length: 5284, dtype: bool

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [54]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

Fit the model to your data.

In [55]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

Evaluate your model.

In [56]:
knn.score(X_test, y_test)

0.7655068078668684

**Congratulations, you have just developed your first Machine Learning model!**